<!-- Modal -->
<div data-backdrop="static" class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="loadingModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="loadingModalLabel">Cargando datos</h4>
      </div>
      <div class="modal-body">
        <p>Se estan cargando los datos, espere un momento, si tarda demasiado reinincie la aplicación...</p>
        <div class="text-center thumbnail">
          <img src="img/progress_bar.gif">
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->